<mat-card>Ingrese los datos del paciente</mat-card>

<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmSignos="ngForm" (ngSubmit)="operar()">

    <mat-form-field>
        <mat-select placeholder="Selecciona paciente" [(value)]="idPacienteSeleccionado" formControlName="pacienteForm" onchange="imprimir(p.idPaciente)">
            <mat-option *ngFor="let p of (pacientes$ | async )" [value]="p.idPaciente">
                {{ p.nombres }} {{ p.apellidos }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [max]="maxFecha" formControlName="fechaForm"
            [(ngModel)]="fechaSeleccionada" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Temperatura" required formControlName="temperatura">       
   <!----     <small *ngIf="f.apellidos.errors?.required && f.apellidos.touched" class="invalido">Apellido es requerido</small>     -->
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulso" required formControlName="pulso" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ritmo Respiratorio" required formControlName="ritmo" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signos' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>